The question of how much additional data is needed to achieve a desired performance level in applications like autonomous driving or medical imaging, where data collection is expensive and time-consuming, is crucial. Previous studies have suggested that a power-law function can accurately fit the validation performance curve and extrapolate it to larger data set sizes. However, this does not directly translate to estimating the required data set size for meeting a target performance. In this study, we explore a range of functions that extend the power-law function to better estimate data requirements for various computer vision tasks. Additionally, we demonstrate that incorporating a tuned correction factor and collecting data in multiple rounds significantly enhances the performance of data estimators. By following our guidelines, practitioners can effectively estimate data requirements for machine learning systems, resulting in savings in development time and data acquisition costs.